.App {
  text-align: center;
  background-image: url('http://giphygifs.s3.amazonaws.com/media/LsaN1HpMyryTu/giphy.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-message {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:2em;
  letter-spacing: 10px;
  text-shadow: 5px 2px green;
}
.footer {
  position: fixed;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2em;
  left: 0;
  bottom: 0;
  border-top: white 5px solid;
  height: 8%;
  width: 100%;
  background-image: linear-gradient(to right top, #053709, #236114, #488d1b, #75bc1c, #a8eb12);
  color: white;
  padding-bottom:1em;
}

.footer .logo-disclaimer{
  vertical-align: middle;
  margin: 1em 1em 1em 1em;
  height:80%;
}

.footer .logo-footer-right, .footer .logo-footer-left {
  position:absolute;
  top:15%;
}

.footer .logo-footer-right{
  right:0px;
}

.footer .logo-footer-left{
  left:0px;
}

.footer .logo-footer-right img, .footer .logo-footer-left img{
  height:80px;
  margin: 0em 0.3em 0em 0.3em;
}

.footer p {
  display: inline-block;
  vertical-align: middle;
}