.connection-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:1.5em;
    background-image: linear-gradient(to right top, #053709, #236114, #488d1b, #75bc1c, #a8eb12);
    border-radius: 50%;
    overflow: hidden;  
    margin-bottom:20%;
}

.connection-header .option-section:hover {
    background-color:red;
    cursor: pointer; 
    border-radius: 50%;
}

.logo{
    vertical-align: middle;
    padding-right : 1em;
    height: 50px;
}


.connection-header .logo{
    -webkit-filter: invert(100%); 
}

.option-section{
    border: white 10em;
    padding: 1em 5em 1em 5em;
}

