.operation {
    vertical-align:middle;
    font-size: 0.8em;  
    margin:0;
}

.operation p{
    display: inline-block;  
    letter-spacing: 3px; 
    font-size: 0.9em; 
    margin: 0;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.operation .ico_non_reverse{
    vertical-align: middle;   
    margin-right: 1em;
}