body {
    background-image:url('../img/bg.gif');
    background-repeat : no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    width: 100%;
    height: 100%;
}

.navigation {
    position: fixed;
    border-right: 5px white solid;
    height:100%;
    background-image: linear-gradient(to right top, #0c0a2c, #061758, #002187, #0029b8, #122eeb);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 15%;
}

.navigation li  {
    margin-left: auto;
    margin-right: auto;
    list-style: none;   
    padding: 0.5em 0em 0.5em 0.5em;
    text-decoration: none ;
    color: white ;    
    font-size: 1.5em;
    letter-spacing: 2px;
}

  
.navigation li:hover {
    background-image: linear-gradient(to right top, #08002a, #020942, #000b5a, #000973, #0c008c);
    cursor:pointer; 
    color: white;
    border-left: 5px;
    border-top: 5px;
    border-bottom: 5px;
    border-color: white;
    border-style: solid;
}

.list-bottom{
    width: 15%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;  
}

.list-bottom li:hover{
    background-image: linear-gradient(to right top, #ff0000, #e5001e, #c9002a, #ab002f, #8c0031);
    color:white;
}

.navigation li img{
    vertical-align: middle;
    height: 40px;
    margin-right: 0.8em;
    -webkit-filter: invert(100%); 
 
}

.navigation .logo {
    height:80px;
    width:80px;
}

.navigation .logo-text {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em; 
    color:white;
    margin: 0;
    letter-spacing: 5px;
    text-shadow: 5px 2px green;
}

.logo-element{
    padding-top:1em;
    padding-bottom: 2.5em;
    overflow: hidden;
}

#admin:hover{
    background-image: linear-gradient(to right top, #08002a, #020942, #000b5a, #000973, #0c008c);
}

#admin-text-color{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#admin-selected {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

#element-selected {
    background-image: linear-gradient(to right top, #ff0000, #de012f, #b51f41, #892e47, #5b3341);
}

#text-ico-below{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-bottom:0.2em;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}














.container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    padding: 2% 2% 2% 2%;
    margin-left: 15%;
}

.container .ico, .ico_number{
    -webkit-filter: invert(100%);
    vertical-align: middle; 
    margin-left: auto;
    margin-right: auto;     
}

.container .ico_non_reverse {
    height: 50px;
    vertical-align: middle; 
    margin-left: auto;
    margin-right: auto;  
}

.container .ico_non_reverse:hover{
    height: 60px;    

}

.container .ico{
    height: 50px;
    padding-right : 1em;
    padding-left:0.5em;
}

.container .ico_number{
    height: 30px;
    padding-right: 5%;
    padding-left:2.5%;
}

.container li  {
    list-style: none; 
    display: block;
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none ;
    color: black ;    
    font-size: 0.8em;
}



.ico-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em; 
    letter-spacing: 5px;
    margin:0;
    color: black;
}

.container .section-header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    letter-spacing: 5px;
    padding-bottom:0.5em;  
    border-bottom: white 5px solid;
    border-width: medium;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
 }


.container header{
    background-image: linear-gradient(to right top, #0c0a2c, #061758, #002187, #0029b8, #122eeb);
    border: white 2px solid;
    font-size: 1.2em;
    color:white;
    margin: 0 auto;
    padding : 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 1em;
 }

 .container header span{
    letter-spacing: 0px;
 }

.container section {
    margin: auto;
    color:white;
    vertical-align: middle;
    margin-bottom:1em;
    padding: 2% 10% 2% 10%;
    text-align: center;
    background-image: linear-gradient(to right top, #000b83, #002a84, #003676, #003c62, #00404e);
    border: white 2px solid;
    width: fit-content;
    overflow:hidden;
}

.container input, span, .display-value{
    margin-right: 1em;
    vertical-align: middle;   
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}   

.container span {
    color: white;
    letter-spacing: 5px;
}  

.container input {
    color:blue;
}

.container input, .display-value{
    font-size: 0.7em;
}   

.container .display-value{
    font-family: 'Arial', sans-serif;
    color:turquoise;
    display: inline;    
    font-weight: bold
}

.container .display-none{
    text-align: center;
    display: block;
    margin:0;
    color:red;
    font-size:0.8em;
}

.submit{
    background-image: linear-gradient(to right top, #0c0a2c, #061758, #002187, #0029b8, #122eeb);
    width: 33%;
    display: inline-block;
    margin: auto;
    padding: 0em 1em 0em 1em;
    vertical-align: middle;
    letter-spacing: 4px;
}
.submit:hover{
    background-image: linear-gradient(to right top, #ff0000, #de012f, #b51f41, #892e47, #5b3341);
}

#min-width, #delete-account{
    min-width: 50%;
}

#delete-account:hover{
    background-image: linear-gradient(to right top, #ff0000, #e5001e, #c9002a, #ab002f, #8c0031);
}

#ico-margin{
    margin-right: 0.5em;
}

#border-bottom-less{
    border-bottom: none;
}
